USE [master]
GO
/****** Object:  Database [NotesApp]    Script Date: 21/02/2020 05:27:01 PM ******/
CREATE DATABASE [NotesApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotesApp', FILENAME = N'E:\DatabaseFiles\NotesApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotesApp_log', FILENAME = N'E:\DatabaseFiles\NotesApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotesApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotesApp]
GO
USE [NotesApp]
GO
/****** Object:  Table [dbo].[AuthenticationLog]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthenticationLog](
	[AuthId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LogType] [nvarchar](50) NULL,
	[CreatedUTC] [datetime] NULL,
 CONSTRAINT [PK__Authenti__12C15DD31D2FA6FF] PRIMARY KEY CLUSTERED 
(
	[AuthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BLockedIp]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLockedIp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IpAddress] [nvarchar](300) NULL,
	[CreatedUTC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] NOT NULL,
	[name] [varchar](100) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[ImageBase64String] [nvarchar](max) NULL,
	[OCRText] [nvarchar](max) NULL,
	[CreatedUTC] [datetime] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notes]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[NoteText] [nvarchar](300) NULL,
	[CreatedUTC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[FirstName] [nvarchar](150) NULL,
	[LastName] [nvarchar](150) NULL,
	[Password] [nvarchar](150) NULL,
	[Status] [bit] NULL,
	[UserType] [nvarchar](50) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedUTC] [datetime] NULL,
 CONSTRAINT [PK__Users__1788CC4C1AD1FD46] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Worker]    Script Date: 21/02/2020 05:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[department_id] [int] NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AuthenticationLog] ON 

INSERT [dbo].[AuthenticationLog] ([AuthId], [UserId], [LogType], [CreatedUTC]) VALUES (1, 1, N'Login', CAST(N'2020-02-19T12:18:53.370' AS DateTime))
INSERT [dbo].[AuthenticationLog] ([AuthId], [UserId], [LogType], [CreatedUTC]) VALUES (2, 1, N'Login', CAST(N'2020-02-19T12:19:37.780' AS DateTime))
INSERT [dbo].[AuthenticationLog] ([AuthId], [UserId], [LogType], [CreatedUTC]) VALUES (3, 1, N'AddedNote', CAST(N'2020-02-19T12:20:49.167' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AuthenticationLog] OFF
SET IDENTITY_INSERT [dbo].[BLockedIp] ON 

INSERT [dbo].[BLockedIp] ([Id], [UserId], [IpAddress], [CreatedUTC]) VALUES (1, 4, N'106.201.239.168', CAST(N'2020-02-20T07:45:59.260' AS DateTime))
INSERT [dbo].[BLockedIp] ([Id], [UserId], [IpAddress], [CreatedUTC]) VALUES (2, 4, N'106.201.239.168', CAST(N'2020-02-20T07:46:59.060' AS DateTime))
INSERT [dbo].[BLockedIp] ([Id], [UserId], [IpAddress], [CreatedUTC]) VALUES (3, 1, N'51.91.31.157', CAST(N'2020-02-20T07:54:29.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[BLockedIp] OFF
INSERT [dbo].[Department] ([id], [name]) VALUES (1, N'IT')
INSERT [dbo].[Department] ([id], [name]) VALUES (2, N'Sales')
INSERT [dbo].[Department] ([id], [name]) VALUES (3, N'HR')
SET IDENTITY_INSERT [dbo].[Images] ON 

SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([NoteId], [UserId], [NoteText], [CreatedUTC]) VALUES (1, 1, N'This is simple note', CAST(N'2020-02-19T10:51:02.427' AS DateTime))
INSERT [dbo].[Notes] ([NoteId], [UserId], [NoteText], [CreatedUTC]) VALUES (2, 1, N'Check note', CAST(N'2020-02-19T10:59:57.887' AS DateTime))
INSERT [dbo].[Notes] ([NoteId], [UserId], [NoteText], [CreatedUTC]) VALUES (3, 2, N'test note', CAST(N'2020-02-19T11:02:15.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notes] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [FirstName], [LastName], [Password], [Status], [UserType], [IpAddress], [CreatedUTC]) VALUES (1, N'tbs.saurabh@gmail.com', N'Saurabh', N'Solanki', N'saurabh5986', 1, N'User', N'51.91.31.157', CAST(N'2020-02-19T09:49:34.760' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Email], [FirstName], [LastName], [Password], [Status], [UserType], [IpAddress], [CreatedUTC]) VALUES (2, N'tbs.malhar@gmail.com', N'Malhar', N'Shah', N'123456', 1, N'User', N'::1', CAST(N'2020-02-19T11:01:29.223' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Email], [FirstName], [LastName], [Password], [Status], [UserType], [IpAddress], [CreatedUTC]) VALUES (3, N'admin@gmail.com', N'admin', N'', N'admin', 1, N'Admin', N'::1', CAST(N'2020-02-19T11:17:53.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[Worker] ([id], [name], [department_id]) VALUES (1, N'Saurabh', 1)
INSERT [dbo].[Worker] ([id], [name], [department_id]) VALUES (2, N'Malhar', 2)
INSERT [dbo].[Worker] ([id], [name], [department_id]) VALUES (3, N'Vipul', 2)
ALTER TABLE [dbo].[AuthenticationLog]  WITH CHECK ADD  CONSTRAINT [FK__Authentic__UserI__286302EC] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuthenticationLog] CHECK CONSTRAINT [FK__Authentic__UserI__286302EC]
GO
ALTER TABLE [dbo].[BLockedIp]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK__Notes__UserId__25869641] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK__Notes__UserId__25869641]
GO
USE [master]
GO
